@import '_base/colors';
@import '_base/animations';

.about-holder {
  // background:black;
  text-align:center;
  .video-holder {
      background:black;
      margin-top:-10px;
      margin-bottom:-20px;
      height:380px;
      position:relative;
      h3 {
        color:$popping-red;
        position:absolute;
        z-index:999;
        margin:0 auto;
        width:100%;
        font-size:2.2em;
        font-weight:500;
        top: calc(60% - 2.2em);
        animation: fade-in 1s ease-in forwards ;
      }
    img {
      width:98%;
      height: 360px;
      top:-50px;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      -webkit-filter: brightness(100%);
      &:hover {
      -webkit-filter: brightness(120%);
      }
    }
  }
}

.about-holder>.about-us {
  color:white;
  position: relative;
  background:#0e0e0e;
  //height:1180px;
  p {
    line-height: 50px;
      hr {
      margin:0 auto;
      position: relative;
    }
  }
  .meet {
    .short {
      margin:0 auto;
      position: relative;
      width:50%;
      top:-15px;
    }
    .team-gallery {
      position: relative;
      right:10px;
      ul {
      list-style: none;
      li {
        display:inline-block;
        padding:20px;
        img {
          height:350px;
        }
        .short {
          width:100%;
          top:10px;
        }
      }
    }
  }
 }
}

@media (max-width: 972px) {
  .about-holder>.video-holder{
    margin-bottom:-27px;
      img {
        height:360px;
        top:10px;
      }
    }
  }


//mobile rules
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .about-holder>.video-holder {
    height:240px;
    width:100%;
    h3 {
      top:140px;
      right:2px;
      font-size:1.4em;
    }
    img {
      height:200px;
    }
  }
}
