@import '_base/colors';

.footer {
  font-family: 'Permanent Marker', cursive;
  height:200px;
  color:white;
  h5 {
    font-size:1.2em;
  }
  ul {
    list-style:none;
    position: relative;
    margin: 0 auto;
    top:-20px;
    li {
      display:inline-block;
      margin:50px;
      a:hover{
        color:$popping-red;
      }
    }
    li>a {
      color: #337ab7;
      font-size:0.8em;
      -webkit-transition: all 0.3s ease-in-out;
    }
  }
}

//small screen rules
@media (max-width:450px) {
  .footer {
    ul {
      li {
        margin:10px;
        position: relative;
        right:20px;
      }
    }
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .footer {
    ul {
      li {
        margin:10px;
        position: relative;
        right:20px;
        a {
          font-size:1em;
        }
      }
    }
  }

}
