@import '_base/colors';
@import '_base/animations';

.home-holder {
  // background:black;
  .video-holder {
      background:black;
      margin-top:-10px;
      margin-bottom:-20px;
      height:380px;
      position: relative;
      h3 {
        color:$popping-red;
        position:absolute;
        z-index:999;
        margin:0 auto;
        width:100%;
        font-size:2.2em;
        font-weight:500;
        //top:200px;
        top: calc(60% - 2.2em);
        animation: fade-in 1s ease-in forwards ;
      }
    img {
      width:98%;
      height: 360px;
      top:-50px;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      -webkit-filter: brightness(100%);
      &:hover {
      -webkit-filter: brightness(120%);
      }
    }
  }
}

  .home-holder>.latest-films {
    color:white;
    position: relative;
    margin:20px 20px;
    background:#0e0e0e;
    height:1330px;
    text-align: left;
    .films {
      margin: 0 30px;
      position: relative;
      top: 10px;
      font-size: 30px;
      font-weight: 500;
    }
    .video-block {
      margin:20px 0 auto 10px;
      .video {
        margin-bottom:-60px;
        .film-name {
          background:black;
          position: relative;
          bottom: 69px;
          height:40px;
          width:110px;
          z-index:999;
          h4 {
            margin-left:10px;
            font-size:1.2em;
          }
        }
        img {
          width:100%;
          height:250px;
          //height:auto;
          -webkit-transition: all 0.5s ease-in-out;
          -webkit-filter: brightness(100%);
          &:hover {
          -webkit-filter: brightness(120%);
          }
        }
      }
    }
  }

.home-holder>.latest-films>.video-block>.video>.video-info {
      background:#FFF;
      color:black;
      position: relative;
      top:-69px;
      height:150px;
      h3 {
        top:15px;
        font-size:20px;
        position: relative;
        margin:0 20px 25px;
        }
        p {
          font-size:14px;
          margin:0 20px 20px;
          }
          .btn-blue {
            background:$background;
            color:white;
            border-radius: 4px;
            border: 1px solid transparent;
            padding: 12px 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
            position: relative;
            top:-20px;
            margin:10px 0 auto 10px;
            width:50%;
            -webkit-transition: all 0.5s ease-in-out;
            &:hover {
              background: $popping-red;
            }
          }
}

@media (max-width: 972px) {
  .home-holder>.video-holder{
    margin-bottom:-27px;
      img {
        height:360px;
        top:10px;
      }
    }
  }

@media (max-width: 972px) {
  .home-holder>.latest-films {
    h2 {
      left:55px;
    }
  }
}

  @media (max-width: 899px) {
    .home-holder>.latest-films>.video-block>.video {
      width:80%;
      margin:0 auto;
      img {
        width:100%;
      }
  }
}

//mobile rules
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .home-holder>.video-holder {
    height:240px;
    img {
      height:200px;
    }
  }

  .home-holder>.latest-films {
    width:100%;
    margin:0 auto;
    .films {
      left:0px;
    }
    .video-block {
      margin:10px 10px auto 0px;
      .video{
        width:100%;
        margin-bottom:-60px;
        img {
          height:190px;
        }
      }
    }
  }

  .home-holder>.latest-films>.video-block>.video>.video-info {
    height:190px;
    .btn-blue {
      padding: 10px 12px;
  }
 }
}
