@import '_base/colors';
@import url("https://fonts.googleapis.com/css?family=Open+Sans");


#menu {
    opacity:0;
    float:right;
    color:white;
    z-index:9999;
    position: fixed;
    -webkit-transition: all 0.1s ease-in-out;
    right:50px;
    top:90px;
    cursor:pointer;
}
.side-nav {
  background:rgba(0, 0, 0, 0.6);
  width:30%;
  height:1000px;
  z-index:9999;
  position: fixed;
  right:-40%;
  top:0px;
  #close-menu {
    color:white;
    float:right;
    margin-right:40px;
    margin-top:10px;
    font-size:2em;
    cursor:pointer;
  }
  ul {
    list-style: none;
    position: relative;
    right:50px;
    li {
      padding:20px;
      a {
        color:white;
        -webkit-transition: all 0.3s ease-in-out;
        text-decoration: none;
      }
    }
  }
}

.navbar {
  height:30px;
  width:90%;
  margin:0 auto;
  background:black;
  position: relative;
  margin-bottom:-10px;
  font-family: 'Open Sans';
  font-size: 14px;
  ul {
    list-style: none;
    li {
      display: inline-block;
      padding:15px;
      a {
        color:white;
        -webkit-transition: all 0.3s ease-in-out;
        text-decoration: none;
      }
    }
  }
}

.nav-left {
  float:left;
  position: relative;
  bottom:16px;
  li>a:hover {
    color:$popping-red;
  }
}
.nav-right {
  text-align: right;
  position: relative;
  bottom:20px;
  float:right;
  margin-right:30px;
  li>a:hover {
    color:$popping-red;
  }
}
// .navbar>ul>li>a:hover {
//   color:$popping-red;
// }

@media (max-width:975px) {
  .navbar {
    display:none;
  }
  #menu {
    opacity:1;
  }
}
