
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px|Raleway:400,100,200,300,500,600|Poiret+One|Permanent+Marker");

@import '_base/normalize';

@import '_base/colors';

@import '_base/animations';

@import 'nav';

@import 'home';

@import 'about';

@import 'films';

@import 'contact';

@import 'footer';

html {
  margin-top:10px;
  color:black;
  background:url("../img/BG.jpg") no-repeat center center fixed;
  background-size:cover;
  text-align:center;
  font-family: 'Poiret One', cursive;
}

//Sets navbar to top on mobile
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  html {
    margin-top:0px;
    background:black;
  }
}

img {
  max-width:100%;
}
.short {
  width:200px;
  position: absolute;;
  left:0px;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid {
  width:100%;
  &:after {
    content: "";
    display:table;
    clear:both;
  }
}

.grid-pad {
  padding: 20px 20px 20px 20px;
}

// No padding on mobile screen
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .grid-pad {
    padding: 0px 0px 0px 0px;
  }
}

[class*='col-'] {
  float:left;
  padding-right:10px;
  padding-left:10px;
}


.col-1-3 {
  width:33.33%;
}
.col-2-3{
  width: 66.66%;
}
.col-1-2 {
  width:48.50%;
}

@media (max-width:900px) {
  .col-1-2 {
    width:100%;
  }
}
