@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.contact-holder {
  text-align: center; }
  .contact-holder .video-holder {
    background: black;
    margin-top: -10px;
    margin-bottom: -20px;
    height: 380px; }
    .contact-holder .video-holder h3 {
      color: #F70045;
      position: absolute;
      z-index: 999;
      margin: 0 auto;
      width: 100%;
      font-size: 2.2em;
      font-weight: 500;
      top: 200px;
      animation: fade-in 1s ease-in forwards; }
    .contact-holder .video-holder img {
      width: 98%;
      height: 360px;
      top: -50px;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      -webkit-filter: brightness(100%); }
      .contact-holder .video-holder img:hover {
        -webkit-filter: brightness(120%); }

.contact-holder > .contact-us {
  color: white;
  position: relative;
  background: #0e0e0e;
  height: 1180px; }
  .contact-holder > .contact-us p {
    line-height: 50px; }
    .contact-holder > .contact-us p hr {
      margin: 0 auto;
      position: relative; }
  .contact-holder > .contact-us .meet h2 {
    border-bottom: 1px solid white; }
  .contact-holder > .contact-us .meet .team-gallery > ul {
    list-style: none; }
    .contact-holder > .contact-us .meet .team-gallery > ul li {
      display: inline-block;
      padding: 50px; }

@media (max-width: 972px) {
  .contact-holder > .video-holder {
    margin-bottom: -27px; }
    .contact-holder > .video-holder h3 {
      top: 270px; }
    .contact-holder > .video-holder img {
      height: 360px;
      top: 10px; } }
