@import url("https://fonts.googleapis.com/css?family=Open+Sans");
#menu {
  opacity: 0;
  float: right;
  color: white;
  z-index: 9999;
  position: absolute;
  -webkit-transition: all 0.1s ease-in-out;
  right: 60px;
  top: 40px;
  cursor: pointer; }

.side-nav {
  background: rgba(0, 0, 0, 0.6);
  width: 30%;
  height: 1000px;
  z-index: 9999;
  position: fixed;
  right: -40%;
  top: 0px; }
  .side-nav #close-menu {
    color: white;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    font-size: 2em;
    cursor: pointer; }
  .side-nav ul {
    list-style: none;
    position: relative;
    right: 50px; }
    .side-nav ul li {
      padding: 20px; }
      .side-nav ul li a {
        color: white;
        -webkit-transition: all 0.3s ease-in-out;
        text-decoration: none; }

.navbar {
  height: 30px;
  width: 90%;
  margin: 0 auto;
  background: black;
  position: relative;
  margin-bottom: -10px;
  font-family: 'Open Sans';
  font-size: 14px; }
  .navbar ul {
    list-style: none; }
    .navbar ul li {
      display: inline-block;
      padding: 15px; }
      .navbar ul li a {
        color: white;
        -webkit-transition: all 0.3s ease-in-out;
        text-decoration: none; }

.nav-left {
  float: left;
  position: relative;
  bottom: 16px; }

.nav-right {
  text-align: right;
  position: relative;
  bottom: 20px;
  float: right;
  margin-right: 30px; }

.navbar > ul > li > a:hover {
  color: #F70045; }

@media (max-width: 975px) {
  .navbar {
    display: none; }
  #menu {
    opacity: 1; } }
